{% extends 'base.html.twig' %}

{% block body %}

	{% include 'layouts/navbar.html.twig' %}

	<div class="w-full px-4 sm:px-6 py-6 sm:py-10 mt-20">

		<div class="text-center mb-10">
			<p class="text-base sm:text-lg text-gray-600">Carklop le premier service de covoiturage qui facilite l'achat de cigarettes, Alcool transfrontalier. Faites des économies jusqu'à 3 fois moins cher</p>
		</div>
		<div class="text-center mb-10">
			<h2 class="text-3xl sm:text-4xl font-bold text-gray-900 mb-4">Carklop t'améne Carklop t'ramène</h2>
			<p class="text-base sm:text-lg text-gray-600">Le mieux c'est d'arrêter, en attendant il y a Carklop</p>
		</div>
	</div>


{% endblock %}
